{# app/Resources/views/email/password_resetting.email.twig #}

{% block subject %}Récupération du mot de passe{% endblock %}

{% block body_text %}
{% autoescape false %}
Bonjour {{ user.username }} !

Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien suivant {{ confirmationUrl }}

Cordialement,
L'équipe Grand Angle.
{% endautoescape %}
{% endblock %}

{% block body_html %}

<p>Bonjour {{ user.username }} !</p>
<p>
	<img title="Mot de passe" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRae1zC330AbM9NdP6Ytwwn2vvC-0JWcvvEERxSEpRwFKlFj3JcvQ" width="140" height:"90" />
</p>
<p>
	Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien suivant {{ confirmationUrl }}
</p>

<footer>
	Cordialement,<br>
	L'équipe de Grand Angle.
</footer>


{% endblock %}